<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.applause.android">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <application>

        <activity
            android:name="com.applause.android.ui.ProblemActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name="com.applause.android.ui.FeedbackActivity"
            android:launchMode="singleInstance" />
    </application>

    <!-- Required permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Optional permission -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.BLUETOOTH" />

</manifest>
